/* 

붉은 색 : #C71B1B;
rgba(199, 27, 27, 0.5);

아이보리 : #D6BA8A;
rgba(214, 186, 138, 0.5);

청녹색 : #017467;
rgba(1, 116, 103, 0.5);

귤색 : #E08F23;
rgba(224, 143, 35, 0.5);

검은색 : #0B0D0C;
rgba(11, 13, 12, 0.5);

*/

/* adminMemberList.jsp 부분 */
#adminMemberList {
	text-aling: center;
}

/* adminReservationList.jsp 부분 */
#adminReservationList {
	text-aling: center;
}

/* adminMovieList.jsp 부분 */
#adminMovieList {
	text-align: center;
}

#adminMovieList > table {
	display: inline-block;
}

/* adminMovieInsert.jsp 부분 */
#adminMovieInsert {
	text-align: center;
}

#adminMovieInsert > form {
	display: inline-block;
}

/* adminTheaterInsert.jsp 부분 */
#adminTheaterInsert {
	text-align: center;
}

#adminTheaterInsert > form {
	display: inline-block;
}



/* 아래쪽은 참고용 */
#adminMovieList .main_menu {
	width: 800px; height: 77px;
	background-color: red;
	text-align: center;
	display: inline-block;
}

#adminMovieList .main_menu > ul {
	margin: 0; padding: 0;
}

#adminMovieList .main_menu > ul > li {
	text-align: center;
	display: inline-flex;
}

#adminMovieList .main_menu > ul > li > a {
	text-decoration: none;
	cursor: pointer;
	color : #D6BA8A;
	font-size: 18px;
	font-weight: bold;
	padding: 23px 23px;
	border-bottom: solid;
	border-top: solid;
	border-color: #017467;
	transition : all 0.3s;
}

#adminMovieList .main_menu > ul > li > a:hover {
	background-color: #005E57;
	border-bottom: solid;
	border-top: solid;
	border-color: #E08F23;
}

#adminMovieList .sub_menu {
	width: 800px; height: 77px;
	background-color: green;
	text-align: center;
	display: inline-block;
}

#adminMovieList .sub_menu > ul {
	margin: 0; padding: 0;
}

#adminMovieList .sub_menu > ul > li {
	display: inline-flex;
}

#adminMovieList .sub_menu > ul > li > a {
	text-decoration: none;
	cursor: pointer;
	color : #D6BA8A;
	font-size: 18px;
	font-weight: bold;
	padding: 23px 23px;
	border-bottom: solid;
	border-top: solid;
	border-color: #017467;
	transition : all 0.3s;
}

#adminMovieList .sub_menu > ul > li > a:hover {
	background-color: #005E57;
	border-bottom: solid;
	border-top: solid;
	border-color: #E08F23;
}

#adminMovieList .list {
	width: 800px;
	display: inline-block;
	background-color: blue;
}
