 #movie li.item .title_e {
 	font-size: 21px;
    font-weight: bold;
    color: #444;
    position: relative;
    top: -25px;
    left: 17px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 160px;
 }
 
 #movie li.list {
    display: block;
    width: 244px;
    height: 430px;
    border: 1px solid #a4a4a4;
    margin: 12px;
    float: left;
    background-color: #fff;
}