/* 

붉은 색 : #C71B1B;
rgba(199, 27, 27, 0.5);

아이보리 : #D6BA8A;
rgba(214, 186, 138, 0.5);

청녹색 : #017467; -> #005E57
rgba(1, 116, 103, 0.5);

귤색 : #E08F23;
rgba(224, 143, 35, 0.5);

검은색 : #0B0D0C;
rgba(11, 13, 12, 0.5);

letter-spacing: 5px;
line-height: 1.2;

*/

#reservation {
	text-align: center;
}

#reservation > .steps {
	display: inline-block;
	width: 900px; height: 1000px;
	background-color: #D6BA8A;;
}

#reservation > .steps > .step1 {
	width: 100%;
	display: inline-flex;
}

#reservation > .steps > .step1 .head {
	height: 50px;
	line-height: 50px;
	vertical-align: middle;
	background-color: #005E57;
	color: #D6BA8A;
}

/* #reservation > .steps > .step1 .body {
	text-align: left;
	} */

/* 영화 */
#reservation > .steps > .step1 > .section_movie {
	display: inline-block;
	width: 30%; height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #DDD;
}

/* 영화관 */
#reservation > .steps > .step1 > .section_theater {
	display: inline-block;
	width: 30%; height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #DDD;
}

/* 날짜 */
#reservation > .steps > .step1 > .section_date {
	display: inline-block;
	width: 10%; height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #DDD;
}

/* 시간 */
#reservation > .steps > .step1 > .section_hour {
	display: inline-block;
	width: 30%; height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #DDD;
}




